#checkInDisplay, #checkOutDisplay {
    width: 50vw;
    height: 20vh;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid black;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}